# === Python trash ===
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels (tout ce qui ressemble à un venv)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# === VS Code ===
.vscode/
*.code-workspace

# === Fichiers de build / dist ===
build/
dist/
.eggs/
*.egg-info/
*.egg

# === Tests & coverage ===
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cache/

# === Outils d'analyse ===
.mypy_cache/
.pytype/
.pyre/

# === OS / bruit divers ===
.DS_Store
Thumbs.db
*.log

